<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" class="pull-right" type="button" id="relaymenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <i class="icon-bolt"></i> Toggle
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="relaymenu">
    <li><a href="#" data-bind="click: function() { loginState.isUser() && $root.toggleLight(); }>Light</a></li>
    li><a href="#" data-bind="click: function() { loginState.isUser() && $root.togglePrinter(); }>Printer</a></li>
  </ul>
</div>